#work-center-schedule .dx-scheduler-cell-sizes-horizontal {
    width: 120px;
}

#work-center-schedule .appointmentTextHeader {

    font-weight: "600";
}
/* 
#scheduler .dx-scheduler-cell-sizes-vertical {
    height: 120px;
} */